@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html {
    overflow-x: hidden;
}

body {
    background-color: #fdf8f8;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    text-align: left;
    
}

img {
    align-items: center;
}

h1 {
    margin-top: 5px;
    align-items: center;
    font-weight: bolder;
    font-family: 'Special Elite', cursive;
    font-size: 6.5vh;
}

h5 {
    margin-top: -10px;
    font-family: 'Comfortaa', cursive;
    font-size: 0.9em;
    font-weight: bold;
}

body h3 {
    color: #FFFFFF;
}

body h6 {
    color: #000000;
    text-align: justify;
    font-size: 16px;
    
}

body p {
    color: #FFFFFF;
}

h2 {
    color: black;
    text-align: center;
    font-weight: bolder;
}


header {
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.tm-site-title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.tm-site-header {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0;
}

.tm-font-400 {
    font-weight: 400;
}

.tm-text-gray2 {
    color: #050505;
    font-weight: bold;
    font-size: 18px;
}

.tm-text-gray {
    color: #050505;
    font-weight: bold;
}

.tm-text-gray:hover {
    color: #ee0000;
    font-weight: bold;
    text-decoration: none;
}

.tm-text-green {
    color: #33CCCC;
    font-weight: bolder
}

.tm-text-green:hover {
    color: #00ffd0;
    font-weight: bolder;
    text-decoration: none;
}

.tm-text-cyan {
    color: #7e26b1;
    font-weight: bolder
}

.tm-text-cyan:hover {
    color: #d58dff;
    font-weight: bolder;
    text-decoration: none;
}

.tm-text-new10 {
    color: rgb(255, 94, 65);
    font-weight: bolder;
}

.tm-text-new10:hover {
    color: rgb(158, 74, 9);
    font-weight: bolder;
    text-decoration: none;
}

.tm-text-new13 {
    color: rgb(109, 149, 223);
    font-weight: bolder;
}

.tm-text-new13:hover {
    color: rgb(65, 101, 169);
    font-weight: bolder;
    text-decoration: none;
}

.tm-text-yellow {
    color: #FFFFFF;
    font-weight: bolder
}

.tm-text-yellow:hover {
    color: #acacac;
    font-weight: bolder;
    text-decoration: none;
}

.tm-text-orange {
    color: #000000;
    font-weight: bolder
}

.tm-text-orange:hover {
    color: #2e2d2d;
    font-weight: bolder;
    text-decoration: none;
}

.tm-bg-dark {
    background-color: #262626;
}

.tm-bg-dark-light {
    background-color: #404040;
}

hr {
    border-color: #666666;
    max-width: 70%;
}

.tm-timeline-item {
    margin: auto;
}

.tm-timeline-item-inner {
    display: flex;
    align-items: center;
}

.tm-img-timeline {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 3px solid black;
}

.tm-img-timeline2 {
    font-size: 18px;
    margin: center;
}

.tm-img-timeline3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.tm-timeline-connector {
    width: 55px;
    height: 3px;
    background-color: #616060;
}

.tm-timeline-connector-vertical {
    height: 60px;
    width: 3px;
    background-color: #616060;
    margin-left: 250px;
}

.tm-timeline-description {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 35px 40px;
    max-width: 712px;
}

.tm-section-mb {
    margin-bottom: 85px;
    margin-left: 5%;
    margin-right: 5%;
}

.tm-section-mt {
    margin-top: 85px;
}

p {
    line-height: 1.9;
}

footer p {
    text-align: center;
    font-size: 2.8vh;
}

.love {
    display:inline-block;
    position:relative;
    top:.1em;
    font-size:1.8em;
    color:#ff0000;
    transform:scale(.9);
    animation:love .5s linear infinite alternate-reverse;
   }
   
   @keyframes love {
    to {
     transform:scale(1.1)
    }
   }

@media (min-width: 1200px) {
    .container {
        max-width: 1310px;
    }
    .tm-container-2 {
        max-width: 1170px;
    }
}


@media (max-width: 584px) {
    .tm-timeline-item-inner {
        flex-direction: column;
    }
    .tm-timeline-connector {
        width: 3px;
        height: 55px;
    }
    .tm-timeline-connector-vertical {
        margin-left: auto;
        margin-right: auto;
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
